body {
    background-color: #c4c4c4;
}

.text {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 2rem;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
        1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
        1px 7px 6px rgba(16, 16, 16, 0.4), 1px 12px 10px rgba(16, 16, 16, 0.2),
        1px 15px 35px rgba(16, 16, 16, 0.2), 1px 18px 60px rgba(16, 16, 16, 0.4);
}

.playerText {
    font-size: 3.5rem;
    animation: ease-in all;
}

.td {
    width: 100px;
    height: 100px;
}

.td:hover {
    cursor: pointer;
}
.table2 {
    margin: 5px auto;
}
.vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#visualizeConatiner {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    overflow: auto !important;
}
.smallTable {
    margin: 0 auto;
}
.smallBox {
    margin: 8px;
    padding: 10px;
    background: white;
}

.smallTd {
    width: 20px;
    height: 20px;
}
.smallTd:hover {
    cursor: pointer;
}

.red {
    background: rgba(189, 54, 54, 0.6);
    color: #fff;
}
.green {
    background: rgba(14, 80, 34, 0.6);
    color: #fff;
}
.blue {
    background: rgba(40, 30, 223, 0.6);
    color: #fff;
}
.violet {
    background: rgba(66, 9, 99, 0.6);
    color: #fff;
}
.yellow {
    background: rgba(223, 245, 32, 0.6);
    color: #000;
}
.indigo {
    background: rgba(4, 5, 68, 0.6);
    color: #fff;
}
.orange {
    background: rgba(255, 171, 15, 0.6);
    color: #000;
}
.black {
    background: rgba(255, 255, 255, 0.6);
    color: #000;
}

